@font-face {
    font-family: montserrat;
    src: url(./Assets/Montserrat/Montserrat-VariableFont_wght.ttf);
    
}

*{
    font-family: montserrat !important;
    font-weight: 600;
    
    
}

.bg-dark{
    background-color: #7F9F80 !important;
    font-size: larger;
    
}

#services{
    background-color: #e7ffe3;
   
}
.item{
    position: absolute;
   
}
.carousel-inner {
    display: block;
    height: 700px !important;
    width: 100% !important;
}


 div.scroll {
     background-color: #fed9ff;
    width:100%;
     height: 300px;
     overflow: auto;
     text-align: justify;
     padding: 20px;
 }
.button,.btn{
    border-radius: 4px;
       font-size: large;
        border: none;
        border-radius: 10px;
        color: #FFFFFF;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        }
                .button span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;
                }
                .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.border{
    border-radius:25px;
}
.card{
    border-radius:15px;
}
.btn-sm{
    width:80%;
}
footer{
    width:100%;
   
    position: absolute;
    left:0;
   
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.signup-img{
border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;

    
}

.card-registration .select-arrow {
    top: 13px;
}
.crime{
    background-color: 'orange';
          width: 100%;
          height: 100px;

}